body {
    background-image: url('Bg3.gif');
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
}
h1{
    text-align: center;
    margin-top: 30vh;
}
img{
   width: 100px;
}